.map
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d590.2981535528253!2d91.42282682927552!3d53.71483099875364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDQyJzUzLjQiTiA5McKwMjUnMjQuMiJF!5e0!3m2!1sru!2sru!4v1573594539517!5m2!1sru!2sru" width="100%" height="425" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

section.section.contacts-section
    .container
        .contacts-section__slot
            .contacts-block
                .contacts-block
                    h2.contacts__header Контакты
                    .address
                        address.address-card
                            h3.address__name="Головной офис:"
                            p.addres__address
                                |<i class='fa fa-map-marker' aria-hidden='true'></i> 
                                |300004, Тула, Щегловская засека, 30"
                            p.address__time
                                |<i class='fa fa-clock-o' aria-hidden='true'></i> 
                                |ПН-ПТ: с 9.00 до 18.00
                            p.address__phones
                                |<i class='fa fa-phone' aria-hidden='true'></i> 
                                | 8 (800) 250-01-04 (звонок бесплатный).
                                | +7-4872-70-05-82
                            p    
                                <i class='fa fa-at' aria-hidden='true'></i>
                                a.address__email(href="mailto:lookout@ssoft24.com") lookout@ssoft24.com
                        address.address-card
                            h3.address__name="Офис в Москве:"
                            p.addres__address
                                |<i class='fa fa-map-marker' aria-hidden='true'></i> 
                                |300004, Тула, Щегловская засека, 30"
                            p.address__time
                                |<i class='fa fa-clock-o' aria-hidden='true'></i> 
                                |ПН-ПТ: с 9.00 до 18.00
                            p.address__phones
                                |<i class='fa fa-phone' aria-hidden='true'></i> 
                                | 8 (800) 250-01-04 (звонок бесплатный).
                                | +7-4872-70-05-82
                            p    
                                <i class='fa fa-at' aria-hidden='true'></i>
                                a.address__email(href="mailto:lookout@ssoft24.com") lookout@ssoft24.com
                        address.address-card
                            h3.address__name="Офис в Санкт-Петербурге:"
                            p.addres__address
                                |<i class='fa fa-map-marker' aria-hidden='true'></i> 
                                |300004, Тула, Щегловская засека, 30"
                            p.address__time
                                |<i class='fa fa-clock-o' aria-hidden='true'></i> 
                                |ПН-ПТ: с 9.00 до 18.00
                            p.address__phones
                                |<i class='fa fa-phone' aria-hidden='true'></i> 
                                | 8 (800) 250-01-04 (звонок бесплатный).
                                | +7-4872-70-05-82
                            p    
                                <i class='fa fa-at' aria-hidden='true'></i>
                                a.address__email(href="mailto:lookout@ssoft24.com") lookout@ssoft24.com
        hr.contacts-delimeter
        .contacts-section__slot
            .staff-block.contacts-block
                h2.contacts__header Сотрудники
                .staff
                    .staff-card
                        .staff__image-wrap
                            img.staff__image(src=require("../../img/staff.jpg") alt="")
                        h3.staff__name="Кузьмин Вячеслав Викторович"
                        p.staff-phone="тел.: +7 (960)605-14-91"
                        p.staff-skype="skype: ssoft_spb"
                        p.staff-email="email: spb-opim1@ssoft24.com"
                    .staff-card
                        .staff__image-wrap
                            img.staff__image(src=require("../../img/staff.jpg") alt="")
                        h3.staff__name="Кузьмин Вячеслав Викторович"
                        p.staff-phone="тел.: +7 (960)605-14-91"
                        p.staff-skype="skype: ssoft_spb"
                        p.staff-email="email: spb-opim1@ssoft24.com"
                    .staff-card
                        .staff__image-wrap
                            img.staff__image(src=require("../../img/staff.jpg") alt="")
                        h3.staff__name="Кузьмин Вячеслав Викторович"
                        p.staff-phone="тел.: +7 (960)605-14-91"
                        p.staff-skype="skype: ssoft_spb"
                        p.staff-email="email: spb-opim1@ssoft24.com"
