block footer
	footer.footer
		.footer__menu.container-fluid
			nav.menu
				ul.menu__links-list
					li.menu__links-item
						a.menu__link(href="#")="Обзоры"
					li.menu__links-item
						a.menu__link(href="#")="Сравнение"
					li.menu__links-item
						a.menu__link(href="#")="Скачать софт"
					li.menu__links-item
						a.menu__link(href="#")="Инструкции"
					li.menu__links-item
						a.menu__link(href="#")="Полезная информация"
					li.menu__links-item
						a.menu__link(href="#")="Новости"
					li.menu__links-item
						a.menu__link(href="#")="Помощь"
		.container-fluid.footer__contacts
			.footer-credentials
				.footer-credentials__item
					p #[a(href="tel:+74996094132") +7 (499) 609-41-32]
					img(src=require("./img/phone-icon.svg"))
				.footer-credentials__item
					p #[a(href="mailto:contact@geroy.ooo") contact@geroy.ooo]
					img(src=require("./img/mail-icon.svg"))
				address.footer-credentials__item
					p ул Северная 326, Краснодар, Россия
		.container-fluid
			.footer-copyright
				img(src=require("./img/footer-logo.svg")).footer-copyright__logo/
				.footer-copyright__info
					p
						|&copy; информация о правах. Lorem Ipsum - это текст-"рыба",
						| часто используемый в печати и вэб-дизайне.
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						| В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, 
						|используя Lorem Ipsum для распечатки образцов. 
						|Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
					