block footer
	footer.footer
		.container.footer-inner
			.footer-column
				img.footer__logo(src=require("./img/footer-logo.png"))
				address.footer-contacts
					p.addres__address
						|<i class='fa fa-map-marker' aria-hidden='true'></i>
						|300004, Тула, Щегловская засека, 30
					p.address__time
						|<i class='fa fa-clock-o' aria-hidden='true'></i>
						|ПН-ПТ: с 9.00 до 18.00
					p.address__phones
						|<i class='fa fa-phone' aria-hidden='true'></i>
						|8 (800) 250-01-04, +7-4872-70-05-82
					a.address__email(href="mailto:lookout@ssoft24.com")
						|<i class='fa fa-at' aria-hidden='true'></i>
						|lookout@ssoft24.com
			.footer-column
				.footer-menu
					a.menu__header="О компании"
					ul.menu.menu-column
						li.menu__item
							a.menu__link(href="#")="О нас"
						li.menu__item
							a.menu__link(href="#")="Партнёры"
						li.menu__item
							a.menu__link(href="#")="Отзывы"
						li.menu__item
							a.menu__link(href="#")="Политика конфиденциальности"
				.footer-menu
					a.menu__header="Решения"
					ul.menu.menu-column
						li.menu__item
							a.menu__link(href="#")="Вода"
						li.menu__item
							a.menu__link(href="#")="Земля"
						li.menu__item
							a.menu__link(href="#")="Воздух"
			.footer-column
				.footer-menu
					a.menu__header="Сервис"
						ul.menu.menu-column
							li.menu__item
								a.menu__link(href="#")="Smart Service LookOut"
							li.menu__item
								a.menu__link(href="#")="Wialon"
							li.menu__item
								a.menu__link(href="#")="Скаут"
				.footer-menu
					a.menu__header="Оборудование"				
				.footer-menu
					a.menu__header="Сервисные центры"
						ul.menu.menu-column
							li.menu__item
								a.menu__link(href="#")="Сертифицированные СЦ"
							li.menu__item
								a.menu__link(href="#")="Как стать сервисным центром"
			.footer-column
				.footer-menu
					a.menu__header="Новости"
						ul.menu.menu-column
							li.menu__item
								a.menu__link(href="#")="Новости"
							li.menu__item
								a.menu__link(href="#")="Статьи"
							li.menu__item
								a.menu__link(href="#")="Видео"
							li.menu__item
								a.menu__link(href="#")="Фото"
							li.menu__item
								a.menu__link(href="#")="Мероприятия"
				.footer-menu
					a.menu__header="Дилеры"
						ul.menu.menu-column
							li.menu__item
								a.menu__link(href="#")="где купить"
							li.menu__item
								a.menu__link(href="#")="Для дилеров"
				.footer-menu
					a.menu__header="Контакты"				
		hr.footer__delimeter
		.container.copyright
				p.copyright__info © ГК «СервисСофт», 2017. Информация носит ознакомительный характер и не является публичной офертой. Политика конфиденциальности.
				p.copyright__studio
					|Разработка сайта: 
					a.copyright__link(href="https://belugalab.com/")="BelugaLabs"
block scripts
	script(src="https://use.fontawesome.com/28f1be9980.js")