block header
	header.header
		.container.header-inner(style="border: 1px solid black;")
			img.header__logo
			nav.header__menu
				u.menu
					li.menu__item
						a.menu__link(href="#")="О компании"
					li.menu__item
						a.menu__link(href="#")="Решения"
					li.menu__item
						a.menu__link(href="#")="Сервис"
					li.menu__item
						a.menu__link(href="#")="Оборудование"
					li.menu__item
						a.menu__link(href="#")="Сервисные центры"
					li.menu__item
						a.menu__link(href="#")="Новости"
					li.menu__item
						a.menu__link(href="#")="Дилеры"
					li.menu__item
						a.menu__link(href="#")="Контакты"
			.header__phone
				a.header__phone-link