block header
	header.header
		.header__inner.container-fluid
			img.header__logo(src=require("./img/logo.png"))
			nav.menu
				ul.menu__links-list
					li.menu__links-item
						a.menu__link(href="#")="Обзоры"
					li.menu__links-item
						a.menu__link(href="#")="Сравнение"
					li.menu__links-item
						a.menu__link(href="#")="Скачать софт"
						ul.menu-sub__links-list
							li.menu-sub__links-item
								a.menu-sub__link(href="#")="Электронные почты"
							li.menu-sub__links-item
								a.menu-sub__link(href="#")="Облачные хранилища"
							li.menu-sub__links-item
								a.menu-sub__link(href="#")="Менеджеры паролей"
							li.menu-sub__links-item
								a.menu-sub__link(href="#")="Антивирусные программы"
							li.menu-sub__links-item
								a.menu-sub__link(href="#")="Мессенджеры"
					li.menu__links-item
						a.menu__link(href="#")="Инструкции"
					li.menu__links-item
						a.menu__link(href="#")="Полезная информация"
					li.menu__links-item
						a.menu__link(href="#")="Новости"
					li.menu__links-item
						a.menu__link(href="#")="Помощь"