block header
	header.header
		.container.header-inner
			img.header__logo(src=require("./img/logo.png"))
			nav.header__menu
				ul.menu
					li.menu__item
						a.menu__link(href="#")="О компании"
					li.menu__item
						a.menu__link(href="#")="Решения"
					li.menu__item
						a.menu__link(href="#")="Сервис"
					li.menu__item
						a.menu__link(href="#")="Оборудование"
					li.menu__item
						a.menu__link(href="#")="Сервисные центры"
					li.menu__item
						a.menu__link(href="#")="Новости"
					li.menu__item
						a.menu__link(href="#")="Дилеры"
					li.menu__item
						a.menu__link(href="#")="Контакты"
			.header__phone
				a.header__phone-link(href="tel:88002500104")="8-800-250-01-04"